<div id="banner">
  <h1 id='logo'>
    <%= link_to Refinery::Core.site_name, refinery.root_path %>
  </h1>
  <%=image_tag "banner.jpg", :id => "top"%>
  <p id="phrase">Redneck Mountaineering is Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
  In lacinia ullamcorper eros, in sodales neque eleifend in.</p>
</div>
